.nav-link {
  &::after {
    content: "";
    display: block;
    border-radius: 100%;
    width: 7px;
    height: 7px;
    position: relative;
    top: 15px;
    right: 50%;
    left: 50%;
    background: transparent;
    transition: all 300ms ease-in-out;
  }

  &-wide {
    &::after {
      content: "";
      display: block;
      border-radius: 2px;
      width: 0px;
      height: 7px;
      position: relative;
      top: 7px;
      right: 0;
      background: transparent;
      transition: all 300ms ease-in-out;
    }

    &:hover {
      &::after {
        width: 100%;
        background-color: #fcb92d;
      }
    }
  }

  &:hover {
    &::after {
      top: 10px;
      background-color: #4b0102;
    }
  }
}

.active-nav-link {
  &::after {
    content: "";
    display: block;
    border-radius: 100%;
    width: 7px;
    height: 7px;
    position: relative;
    right: 50%;
    left: 50%;
    transition: all 300ms ease-in-out;
    top: 10px;
    background-color: #4b0102;
  }
}

.active-type {
  &::after {
    content: "";
    display: block;
    border-radius: 1px;
    width: 100%;
    height: 7px;
    position: relative;
    top: 7px;
    right: 0;
    background: #fcb92d;
    transition: all 300ms ease-in-out;
  }
}

.container {
  max-width: 1280px;
  padding: 1rem;
  margin: 0 auto;
}

.features-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  p {
    flex-basis: 100%;
    position: relative;
    top: -100%;
    visibility: visible;
    transition: all 300ms ease-in-out;
  }
  &:hover {
    p {
      top: 0;
      transition: all 300ms ease-in;
      visibility: visible;
    }
  }
}

.quill-div {
  h1,
  h2,
  h3,
  h4 {
    color: #1f1f1f;
    font-size: revert;
    font-weight: revert;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
  }

  p {
    font-size: 14px;
    color: rgb(131, 131, 131);
    line-height: 1.6;
    font-weight: 500;
    text-align: "justify";
    font-size: revert;
    font-weight: revert;
  }

  @media (min-width: 1024px) {
    p {
      font-size: 18px;
    }
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 24px;
    }
  }

  img {
    width: 100%;
    margin: 12px 0;
    border-radius: 4px;
  }
}
