.nav-link {
  &::after {
    content: "";
    display: block;
    border-radius: 100%;
    width: 7px;
    height: 7px;
    position: relative;
    top: 15px;
    right: 50%;
    left: 50%;
    background: transparent;
    transition: all 300ms ease-in-out;
  }

  &-wide {
    &::after {
      content: "";
      display: block;
      border-radius: 2px;
      width: 0px;
      height: 7px;
      position: relative;
      top: 15px;
      right: 0;
      background: transparent;
      transition: all 300ms ease-in-out;
    }

    &:hover {
      &::after {
        width: 100%;
        background-color: #fcb92d;
      }
    }
  }

  &:hover {
    &::after {
      top: 10px;
      background-color: #4b0102;
    }
  }
}

.active-nav-link {
  &::after {
    content: "";
    display: block;
    border-radius: 100%;
    width: 7px;
    height: 7px;
    position: relative;
    right: 50%;
    left: 50%;
    transition: all 300ms ease-in-out;
    top: 10px;
    background-color: #4b0102;
  }
}

.active-type {
  &::after {
    content: "";
    display: block;
    border-radius: 1px;
    width: 100%;
    height: 7px;
    position: relative;
    top: 15px;
    right: 0;
    background: #fcb92d;
    transition: all 300ms ease-in-out;
  }
}

.container {
  max-width: 1280px;
  padding: 1rem;
  margin: 0 auto;
}

.features-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  p {
    flex-basis: 100%;
    position: relative;
    top: -100%;
    visibility: visible;
    transition: all 300ms ease-in-out;
  }
  &:hover {
    p {
      top: 0;
      transition: all 300ms ease-in;
      visibility: visible;
    }
  }
}
